<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>

    <nav class="nav-bar">

        <!-- logo and name -->
        <div class="brand">
            <div class="logo">
                <div class="inner-circle">  
                </div>
            </div>
            <p>Todo</p>
        </div>


        <!-- Display date and time -->
        <div class="date-time">
            <p class="emoji">🗓️</p>
            <p><%= new Intl.DateTimeFormat('en-GB', { dateStyle: 'full' }).format(new Date()) %></p>
        </div>

        <div class="search-task">
            <input type="text" placeholder="Search your task...">
            <p>🧐</p>
        </div>

        <div class="options">
            <div class="search-small">
                🔍
                
            </div>

            <div class="notifications">
                🔔
                
            </div>

            <div class="inbox">
                📩
            </div>

            <div class="profile-img">
                
            </div>
        </div>
    </nav>

    <main class="main-content">
        <div class="tasks-dashboard">
            <div class="dash1">
               <p><span>🛠️</span>&nbsp; Dashboard Under Progress</p> 
            </div>

            <div class="group-dash">
                <div onclick="addTask()" id="d3" class="dash3">
                    <span>🤩</span>&nbsp;Add Task
                </div>

                <div class="dash2">
                    <span>🤖</span>&nbsp;Settings
                </div>

                <div class="dash-menu">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
    
                
            </div>
            
        </div>

        <div class="tasks">

            <div id="pending-tasks">
                <div class="top-part">
                    <p class="heading-font-size"><span>🤨</span> Pending Tasks</p>
                    <p id="total-tasks-pending"><%= task_list.filter((i) => !i.status).length %> Tasks </p>
                </div>

                <% if (task_list.filter((i) => !i.status).length == 0) { %>

                    <div onclick="addTask()" id="add-task-new" >
                        <p>Add New Task</p>
                    </div>
                <% } %>

                <div id="d-tasks" class="display-tasks">
                    <!-- <form action="/create-task" method="post" id="add-task-form">
                        <div class="form-header">
                            <p class="form-heading"><span>🤘</span>New Task</p>
                            <p onclick="removeButton()" id="cancel-button">❌</p>
                        </div>
                        
                        <textarea cols="40" rows="5" name="description">Get Groceries</textarea>
                        
                        
                        <div id="date-dropdown">
                            <input type="date" placeholder="Due Date" name="date" class="date-picker" required>
                            <div class="dropdown">
                                <span id="select-cat" name="category">Category</span>
                                <div class="dropdown-content">
                                    <p onclick="addWork()" id="work-cat">Work</p>
                                    <p onclick="addSchool()" id="school-cat">School</p>
                                    <p onclick="addPersonal()" id="personal-cat">Personal</p>
                                    <p onclick="addOther()" id="other-cat">other</p>
                                </div>
                            </div>
                        </div>
                        
                        
                        <button id="add-task-button" type="submit"><span>🧿&nbsp;</span>Add Task</button>
                        
                        
                    </form> -->

                    <% for(let i of task_list) { 
                        if (!i.status) { %>
                    <div id="dummy-task">
                        <div id="description">
                            <p>
                                <span>🎯</span>
                                <%= i.description %>
                            </p>
                        </div>
                        <div id="actions">
                            <p id="due-date"><span>🗓️</span>&nbsp; <%= new Intl.DateTimeFormat('en-GB', { dateStyle: 'full' }).format(i.date) %></p>
                            <form action="/complete-task" method="post" id="category-button-container">
                                <input type="hidden" name="id" value="<%= i._id %>">
                                <button onclick="fadeOutAnimation()" type="submit" id="complete-button"><span>✅</span>&nbsp; Complete</button>
                                <p id="category"><%= i.category %></p>
                            </form>
                            
                        </div>
                    </div>

                    <% } 
                } %>

                    
                </div>

            </div>
    
            <div class="completed-tasks">
                <div class="top-part">
                    <p class="heading-font-size"><span>😎</span>  Completed Tasks</p>
                    <p id="total-tasks-completed"> <%= task_list.filter((i) => i.status).length %> Tasks </p>
                </div>

                <% if (task_list.filter((i) => i.status).length == 0) { %>

                    <div id="complete-task-new">
                        <p>Common Champ!</p>
                    </div>
                <% } %>
                <div class="display-tasks">
                    <% for(let i of task_list) { 
                        if (i.status) { %>
                    <div id="completed-dummy" class="tasks">
                        <div id="description">
                            <p><%= i.description %></p>
                            <a href="/delete-task/?id=<%= i._id %>">
                                <i class="fa-regular fa-trash-can delete-button"></i>
                            </a>
                        </div>

                        <div id="stat">
                            <p id="p-stat"><i class="fa-solid fa-circle"></i>&nbsp;&nbsp;On time</p>
                            <span></span>
                            <p id="sh" class="show-hide">See Details <i class="fa-solid fa-arrow-right"></i></p>
                        </div>

                        <div id="bottom-stats" class="display-prop hide-element" >
                            <div id="completed-date">
                                <p id="due-date"><span>🗓️</span>&nbsp; <%= new Intl.DateTimeFormat('en-GB', { dateStyle: 'full' }).format(i.date) %></p>
                            </div>

                            <div id="completed-category">
                                <p id="category"><%= i.category %></p>
                            </div>

                            
                        </div>

                        
                    </div>
                    <% } 
                } %>
                </div>
            </div>
        </div>
        <div class="credits">
            <div class="author-profile">
            </div>
    
            <div class="about-author">
                <p class="credits-text">Proudly Developed By</p>
                <p class="author-name">Sanambir Singh &nbsp;<span>🤗</span></p>
            </div>
        </div>
    </main>


    <div id="sucess-pop-up">

    </div>


    

    <script src="/js/home.js"></script>

</body>
</html>